body{
	background-color: #ccff99;
}
#principal{
	/*width: 500px;*/
	width:35%;
	text-align: center;
	margin: 15px auto ;
	padding: 15px;
	border: 6px solid #ffff4d;
	border-radius: 30px;
	box-shadow: #b33c00 5px 5px 8px;
	background: -webkit-linear-gradient(right, #ffa366, #ff3300);
	background: -o-linear-gradient(right, #ffa366, #ff3300);
	background: -moz-linear-gradient(right, #ffa366, #ff3300);
	background: -ms-linear-gradient(right, #ffa366, #ff3300);
	-webkit-transition:-webkit-transform 1s ease 0.5s;
}
#principal:hover{
	-webkit-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-ms-transform:rotate(5deg)
}
#titulo{
	color: white;
	font: bold 45px Verdana, Geneva, sans-serif;
	text-shadow: #4d4d4d 3px 3px 3px;
}